
@charset "UTF-8";

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: #000000; /* Azul escuro */
    opacity: 60%;
}
.video-bg-login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}
   
body {
    background-color: #000000; /* Azul escuro */
    color: #ffffff  ; /* Branco */
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden; /* Evita a rolagem */

}

/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



    
/* Estilos para o cartão */
.card {
    background-color: #263973; /* Azul escuro */
    border-color: #3f4e8a; /* Azul escuro */
}

/* Estilos para o cabeçalho do cartão */
.card-header {
    background-color: #3f4e8a; /* Azul escuro */
    color: #ffffff; /* Branco */
}

/* Estilos para o corpo do cartão */
.card-body {
    color: #ffffff; /* Branco */
}

/* Estilos para os campos de formulário */
.form-control {
    background-color: #0d245b; /* Azul escuro */
    color: #ffffff; /* Branco */
    border: none; /* Removi a borda para um visual mais limpo */
}

/* Estilos para o botão de login */
.btn-primary {
    background-color: #263973; /* Azul escuro */
    border-color: #263973; /* Azul escuro */
    border-radius: 10px;
    padding: 10px 20px; /* Adiciona espaçamento interno para melhor legibilidade */
    font-weight: bold; /* Deixa o texto em negrito */
}

    .btn-primary:hover {
        background-color: #3f4e8a; /* Azul escuro */
        border-color: #3f4e8a; /* Azul escuro */
    }

/* Estilos para links */
a {
    color: #ffffff; /* Branco */
    text-decoration: none; /* Remove o sublinhado dos links */
}

    a:hover {
        color: #ffffff; /* Branco */
    }

/* Estilos para o container */
.container {
    position: relative;
    top: 160px; /* Ajuste conforme necessário */
    left: 20px;
    
}

/* Estilos para a caixa de conversa */
.chat-container {
    position: relative;
    top: 100px; /* Ajuste a posição vertical conforme necessário */
    width: 100px;
    max-width: 600px;
    margin: 20px auto; /* Centraliza horizontalmente */
    display: flex;
    justify-content: flex-end; /* Alinha a mensagem à direita */
    padding: 10px;
    
}

.text-modelo p {
    font-size: 30px;
    color: black;
}

.text-modelo {
    cursor: pointer;
    width: 50%;
    position: relative;
    align-items: center;
    top: 500px; /* Ajusta a distância do topo */
    left: 50%; /* Centraliza horizontalmente */
    padding: 10px;
    background-color: #82d7ec; /* Cor de fundo do balão */
    border-radius: 15px; 
    box-shadow: 0 2px 5px rgba(255, 0, 0, 0.1); /* Sombreamento */
    transform: translateX(-50%); /* Ajusta para centralização perfeita */
}

/* Estilo para a barra de navegação */
.navbar {
    background-color: #000000;
    box-shadow: 0 2px 5px rgb(13, 178, 255); 
    color: #fff;
    padding: 10px 0;
    position: relative;
}

.nav-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}

    .brand a {
        background-image: url('Img/searchIcon.png'); /* Caminho atualizado para o ícone */
        background-repeat: no-repeat;
        background-size: 30px; /* Ajuste o tamanho da imagem conforme necessário */
        background-position: left center; /* Posiciona a imagem à esquerda */
        padding-left: 30px; /* Adiciona espaço à esquerda da palavra "JOB" */
        color: #fff;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;
    }

.nav-menu {
    list-style: none;
    display: flex;
}

    .nav-menu li {
        margin-left: 20px;
    }

    .nav-menu a {
        color: #fff;
        text-decoration: none;
        font-size: 1em;
    }

        .nav-menu a:hover {
            text-decoration: underline;
        }

/* Estilos para a Boas-vindas */
.boaVinda {
    position: relative;
    top: 130px;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
   
}

/* Estilos para o Texto Boas-vindas */
.Texto-Boavinda {
    position: relative;
    top: 200px;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;
    padding: 20px;
}
/* Estilos para o botão de voltar */

    .btn-voltar:hover {
        background-color:  #0d245b;
    }


    .btn.btn-primary:hover {
        background-color: #0d245b;
    }

/* Estilos para os botões de perigo */


    .btn.btn-danger:hover {
        background-color:  #0d245b;
    }

/* Estilos para os botões secundários */
.btn.btn-secondary {
    background-color: #3f4e8a;
    
    
    padding: 10px 20px;
    text-decoration: none;
    
    font-weight: bold;
}

    .btn.btn-secondary:hover {
        background-color:  #0d245b;
    }
