
@charset "UTF-8";


   
body {
    background-image:url(Img/background-Cadatro.png);
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-repeat:repeat; /* Evita a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    color: #ffffff  ; /* Branco */
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden; /* Evita a rolagem */

}

/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



    
/* Estilos para o cartão */
.card {
    background-color: #263973; /* Azul escuro */
    border-color: #3f4e8a; /* Azul escuro */
    

}

/* Estilos para o cabeçalho do cartão */
.card-header {
    background-color: #3f4e8a; /* Azul escuro */
    color: #ffffff; /* Branco */
}

/* Estilos para o corpo do cartão */
.card-body {
    color: #ffffff; /* Branco */
}

/* Estilos para os campos de formulário */
.form-control {
    background-color: #0d245b; /* Azul escuro */
    color: #ffffff; /* Branco */
    border: none; /* Removi a borda para um visual mais limpo */
}

/* Estilos para o botão de login */
.btn-primary {
    background-color: #263973; /* Azul escuro */
    border-color: #263973; /* Azul escuro */
    border-radius: 10px;
    padding: 10px 20px; /* Adiciona espaçamento interno para melhor legibilidade */
    font-weight: bold; /* Deixa o texto em negrito */
}

    .btn-primary:hover {
        background-color: #3f4e8a; /* Azul escuro */
        border-color: #3f4e8a; /* Azul escuro */
    }

/* Estilos para links */
a {
    color: #ffffff; /* Branco */
    text-decoration: none; /* Remove o sublinhado dos links */
}

    a:hover {
        color: #ffffff; /* Branco */
    }

/* Estilos para o container */



/* Estilo para a barra de navegação */
.navbar {
    background-color: #000000;
    box-shadow: 0 2px 5px rgb(13, 178, 255); 
    color: #fff;
    padding: 10px 0;
    position: relative;
}

.nav-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}

    .brand a {
        background-image: url('Img/searchIcon.png'); /* Caminho atualizado para o ícone */
        background-repeat: no-repeat;
        background-size: 30px; /* Ajuste o tamanho da imagem conforme necessário */
        background-position: left center; /* Posiciona a imagem à esquerda */
        padding-left: 30px; /* Adiciona espaço à esquerda da palavra "JOB" */
        color: #fff;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;
    }

.nav-menu {
    list-style: none;
    display: flex;
}

    .nav-menu li {
        margin-left: 20px;
    }

    .nav-menu a {
        color: #fff;
        text-decoration: none;
        font-size: 1em;
    }

        .nav-menu a:hover {
            text-decoration: underline;
        }



/* Estilos para o botão de voltar */
.btn-voltar {
    background-color: red;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

    .btn-voltar:hover {
        background-color: darkred;
    }


    .btn.btn-primary:hover {
        background-color: #3f4e8a;
    }

/* Estilos para os botões de perigo */
.btn.btn-danger {
    background-color: red;
    color: #ffffff;
    
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

    .btn.btn-danger:hover {
        background-color: darkred;
    }

/* Estilos para os botões secundários */
.btn.btn-secondary {
    background-color: red;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

    .btn.btn-secondary:hover {
        background-color: darkred;
    }
